.mealplanner {
  background-color: #2b7878;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 110%;
  background-color: #16703c;
  padding-top: 150px;
}

.mealplanner h1 {
  text-align: center;
  color: #f1f5f2;
}

.mealplanner-steps {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../../images/mealplanner.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #f1f5f2;
  overflow: hidden;
  margin: 5% 10%;
  width: 80%;
  padding: 2%;
}

.mealplanner-area {
  padding: 0.5%;
  margin: 0.9%;
  background-color: #f1f5f2;
}

.mealplanner-area table {
  width: 90%;
}

.mealplanner-area th,
td {
  font-weight: 400;
  font-size: 120%;
  text-align: center;
}

.mealplanner-start {
  display: flex;
  justify-content: center;
  padding: 5%;
}

.mealplanner-start button {
  width: 190px;
  border-radius: 10px;
  margin: 2%;
  padding: 15px 5px;
  background-color: #f1f5f2;
  border: 2px solid #011627;
  font-size: 120%;
  cursor: pointer;
  border-bottom-width: 5px;
}

.mealplanner-start button:hover {
  background-color: #011627;
  color: #27c267;
  border: 2px solid #0c3f21;
  border-bottom-width: 5px;
}

.mealplanner-start button:active {
  font-size: 80%;
}
