html,
body {
  height: 100%;
  font-family: "Inter", sans-serif;
}

/* Styling for header */
.home-header {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/home.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  color: #f1f5f2;
  border-bottom-left-radius: 80% 20%;
  border-bottom-right-radius: 80% 20%;
  overflow: hidden;
}

.home-header img {
  max-width: 10%;
  padding: 0.5%;
  margin: 0.5%;
}

.home-text {
  position: absolute;
  text-align: center;
  top: 40%;
  left: 10%;
  right: 10%;
  font-size: 180%;
  margin: 0%;
}

.home h1 {
  margin: 0%;
  font-weight: 300;
}

.home-header small {
  font-weight: 300;
  word-spacing: 0.4em;
}

/* Styling for about */

.home-about {
  display: flex;
  background-color: #16703c;
  padding-top: 50%;
  height: 80vh;
  margin-top: -50%;
}

.home-about h1 {
  font-weight: 300;
}

.home-about-img {
  width: 100%;
  background-image: url("../images/about.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 5%;
  margin: 5%;
  border-radius: 25px;
}

.home-about-text {
  padding: 7%;
  margin: 4% 0%;
  text-align: left;
  color: #f1f5f2;
  max-height: 100%;
}

/* Styling for call to action section */

.home-action {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/calltoaction.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
  color: #f1f5f2;

  text-align: center;
}

.home-action h1 {
  margin: 2% 0;
  padding: 8% 0;
  font-size: 350%;
}

.home-action-steps {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
}

.home-action-step {
  padding: 0.5%;
  max-width: 100%;
  margin: 0 5%;
}

.home-action small {
  background-color: #16703c;
  border-radius: 60% 10%;
  padding: 6%;
}

.home-action-step h3 {
  font-weight: 300;
  font-size: 140%;
}

/* Styling for Features section */

.home-features {
  height: 80vh;
  background-color: #16703c;
  color: #f1f5f2;
}

.home-features h1 {
  padding: 5%;
}

.home-features-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.home-features-card1 {
  position: relative;
  background-image: url("../images/feature1.webp");
}

.home-features-card2 {
  background-image: url("../images/feature2.webp");
}

.home-features-card3 {
  background-image: url("../images/featur3.webp");
}

.home-features-card1,
.home-features-card2,
.home-features-card3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2%;
  margin: 2%;
  height: 35vh;
  border-radius: 26px;
}

/*  */
