.nav-brand {
  position: fixed;
  left: 0;
  padding: 4px;
  color: #f1f5f2;
  margin: 10px 30px;
}

.nav-brand img {
  width: 80px;
}

.nav-item {
  transform: translateX(100%);
  position: fixed;
  top: 0;
  right: 0;
  width: 45%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  z-index: 999;
  overflow-y: auto;
}

.nav-item.active {
  transform: translateX(0);
}

.nav-bars svg {
  display: flex;
  justify-content: right;
  position: fixed;
  right: 0;
  padding: 20px;
  z-index: 1000;
  color: #f1f5f2;
  font-size: 48px;
  transition: transform 0.4s ease;
}

.nav-links {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 300;
  font-size: 90%;
  padding: 20% 10%;
  margin: 2%;
}

.nav-logout {
  text-align: center;
  width: 120px;
  border-radius: 10px;
  margin: 2%;
  width: 200px;
  padding: 10px;
  background-color: #bb0a21;
  border: 2px solid #011627;
  font-size: 100%;
  cursor: pointer;
  border-bottom-width: 5px;
}

.nav-logout:hover {
  background-color: #011627;
  color: #bb0a21;
  border: 2px solid #bb0a21;
  border-bottom-width: 5px;
}

.nav-logout:active {
  font-size: 90%;
}
.nav-links a {
  text-decoration: none;
  font-size: 200%;
  color: #f1f5f2;
  margin: 10px;
}
